.upper {
  display: flex;
  justify-content: space-between;
}

.search-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 280px;
}

.search-bar {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aqi {
  padding: 10px;
}
